<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MY IAt</title>
</head>
<body>
    <form method="post" actions = ".">
        {% csrf_token %}
        <h2>Are you sure you want to remove {{ object.name }} ?</h2>
        <input type="reset" value= "Cancel" onclick="location.href='{% url 'myia:list' %}'">
        <input type="submit" value="Confirm">

    </form>
</body>
</html>